<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.scm.sd.dao.mapper.BlTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.hc.scm.sd.dao.entity.BlTemplate" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    id, name
     FROM bl_template WHERE 1=1 
    <include refid="condition" />
  </select>
  <insert id="insert" parameterType="com.hc.scm.sd.dao.entity.BlTemplate" >
    INSERT INTO bl_template (id, name)
    VALUES (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hc.scm.sd.dao.entity.BlTemplate" >
    INSERT INTO bl_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>